@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');
a{
    text-decoration: none;
    color: #fff;
}
input {outline:none;}
.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 18px;
}
.header-left{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.header-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #015366;
}
.header-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 17px;
}
.header-profile__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 41px;
    gap: 19px;

}
.todo-title{
    margin-bottom: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}
.todo-task{
    background-color: #A7D1D2;
    border-radius: 8px;
    max-width: 373.86px;
    padding: 21px;
    display: flex;
    flex-direction: column;
    height: 95%;
}
.todo-taskfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.todo-economicfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;
}
.todo-taskfile__name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.todo-addfile{
    border-radius: 8px;
    padding: 5px 17px;
    background-color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
    margin-bottom: 39px;
    cursor: pointer;
}
.todo__fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 27px;
}
.todo__field{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.todo__field-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    max-width: 127px;
}
.todo__field-worker{
    height: 34px;
    max-width: 133px;
    padding: 8px 14px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: none;    
    color: #000000;
}
.todo__field-date{
    height: 66px;
    max-width: 133px;
    padding: 8px 14px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;    
    color: #000000;
    border: none;
}
.todo-task__tickets{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}
.todo-task__ticket{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.todo-approval__ticket{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px;
    height: 69px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.todo-task__ticket-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.todo-approval__ticket-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.todo-task__hide{
    margin: 0 auto;
    cursor: pointer;
}


.todo-approval{
    background-color: #A7D1D2;
    border-radius: 8px;
    max-width: 373.86px;
    padding: 21px;
    display: flex;
    flex-direction: column;
    height: 95%;
}

.todo-economic{
    background-color: #A7D1D2;
    border-radius: 8px;
    max-width: 373.86px;
    padding: 21px;
    display: flex;
    height: 95%;
    flex-direction: column;
}
.navbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    left: 20px;
    top: 300px;
}
.navbar-item{
    cursor: pointer;
}
.todo-economic__graphics{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 21px;

}
.todo-economic__graphic{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 5px;
}
@media (max-width: 424px) {

    .header-title{
        font-size: 24px;
    }
}
@media (max-width: 767px) {

    .header-profile__title{
        display: none;
    }
}
@media (max-width: 1023px) {

}
.header-options{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.header-option{
    color: #fff;
    background-color: #015366;
    border-radius: 10px;
    padding: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}